/*Start Global*/
* {
    box-sizing: border-box !important;
}
body {
    margin: 0 !important;
    padding: 12px !important;
}
body.hide-scroll::-webkit-scrollbar {
    display: none !important;
}
a {
    text-decoration: none !important;
}
ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
}
img {
    max-width: 100% !important;
}
h2 {
    /* font-family: 'Herr Von Muellerhoff', cursive; */
    font-family: 'Pacifico', cursive !important;
    font-size: 60px !important;
    font-weight: normal !important;
    margin: 0 0 -25px !important;
}
h1, h3 {
    font-family: "Source Code Pro", sans-serif !important;
    font-size: 47px !important;
    font-weight: bold !important;
    letter-spacing: 9.4px !important;
    margin: 0 0 15px !important;
}
p {
    color: #515151 !important;
    line-height: 27px !important;
}
.a-CTA {
    border-bottom: 2px solid #FF0000 !important;
    padding-bottom: 4px !important;
    letter-spacing: 1.5px !important;
    font-size: 18px !important;
}
/*End Global*/

/*Start Mutual*/
p, .a-CTA, input, header .navigation-bar a, .copyright li, .contact .form form label, .contact .form form button {
    font-family: Cabin, sans-serif;
}
.fa-asterisk, .a-CTA, h2, header .navigation-bar a:hover, header nav.active .navigation-bar a:hover, footer .social-media .links a:hover, .copyright .info li a, .copyright .CTA li a:hover {
    color: #FF0000;
}
header nav .navigation-bar .underline, header .text .button button:hover, .contact .form form button:hover, .contact .text i:hover {
    background-color: #FF0000;
}
header .navigation-bar ul li, header .text, .about-us .text, .reservation .text, .menu .box-model, .menu .text, .fixed-image .text, footer, .copyright, .contact .text i {
    text-align: center;
}
header nav, header .navigation-bar ul, .about-us, .reservation, .about-us .image-container, .reservation .image-container, .menu, .menu .menu-image-container, footer .contact-container, .copyright ul, .contact {
    display: flex;
}
header nav .toggle, header nav .toggle span, header .navigation-bar, header .navigation-bar ul, .menu .box-model .close, footer .social-media .links a, .copyright .CTA li a {
    transition: .3s;
}
header, header nav .toggle span, header .navigation-bar a, header .text, header .text .arrow .left, header .text .arrow .right, .recipes, .menu .box-image-container, .fixed-image .text, .copyright, .copyright .arrow-up {
    position: relative;
}
header nav .toggle, header .navigation-bar .underline, header .text .arrow .left:after, header .text .arrow .right:after, header .svg-down, header .arrow-down, .recipes .text, .menu .box-model .close, .menu .box-model .arrow .arrow-right,.menu .box-model .arrow .arrow-left, .menu .box-image-container .box-image, .copyright .svg-up {
    position: absolute;
}
.recipes .text, .fixed-image .text, .menu .box-image-container, .menu .box-image-container .box-image {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
header nav, header .navigation-bar a:hover .underline, header .navigation-bar li.active .underline, .menu .box-model, .menu .box-image-container, .menu .box-image-container .box-image {
    width: 100%;
}
button, .dots > div, header nav .toggle, header .arrow-down, .menu .box-model .close, .menu .box-model .arrow .arrow-right,.menu .box-model .arrow .arrow-left, .menu .menu-image-container .image img, footer .newsletter i, .copyright .arrow-up {
    cursor: pointer;
}
.dots .active, header nav.active, header nav.active .toggle.active span, header nav .toggle span, header .navigation-bar .underline, header .text .arrow .left, header .text .arrow .right, header .text .button button, .contact form button {
    background-color: #fff;
}
h1, h3, header .navigation-bar a, header .text span, .menu .box-model .close:hover, footer .text h2, footer .text p, footer .social-media .links a, .contact .text i, .contact .form form button {
    color: #fff;
}
header nav, header .navigation-bar.show, header .navigation-bar a:hover .underline, header .navigation-bar li.active .underline, header .text .arrow .left:after, .menu .box-model, .copyright .arrow-up {
    left: 0;
}
header .text .arrow .left:after, header .text .arrow .right:after, header .text span, footer .social-media .links a, footer .newsletter i, .copyright .arrow-up, .contact .text i, .contact .form form label {
    display: inline-block;
}
/*End Mutual*/

/*Start Home Page*/

/*Start Header*/
header {
    height: calc(100vh - 22px);
    background-size: cover;
    background: url("../imgs/ice-cream-flavours.jpg");
    background-size: 100% 100%;
    padding: 20px 70px;
}
header nav {
    position: fixed;
    top: 0;
    padding: 36px 36px 20px;
    z-index: 20;
}
header nav .toggle {
    display: none;
    top: 26px;
    left: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
    z-index: 21;
}
header nav .toggle:focus {
    outline: none;
}
header nav.active .toggle span {
    background-color: #000;
}
header nav .toggle.active {
    left: 32%;
}
header nav .toggle.active .first {
    top: 16px;
    transform: rotate(-45deg);
}
header nav .toggle.active .last {
    top: 0;
    transform: rotate(45deg);
}
header nav .toggle .hide {
    transition: 0s;
    visibility: hidden;
}
header nav .toggle span {
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 40px;
}
header nav .toggle span:not(:last-of-type) {
    margin-bottom: 6px;
}
header nav .logo {
    flex-basis: 56%;
    padding-left: 50px;
}
header nav .logo img{
    width: 150px;
}
header .navigation-bar.show {
    width: 40%;
}
header .navigation-bar.show a {
    color: #ccc !important;
}
header .navigation-bar.show a:hover {
    color: #fff !important;
}
header .navigation-bar ul li {
    flex: 1;
    padding: 0 10px;
}
header .navigation-bar a {
    text-decoration: none;
    transition: all .5s;
    font-size: 16px;
}
header nav.active .navigation-bar a {
    color: #000;
}
header .navigation-bar .underline {
    height: 2px;
    width: 0;
    left: 50%;
    bottom: -4px;
    transition: all .3s;
    display: block;
}
header .text {
    top: 24%;
}
header .text h1 {
    margin-bottom: 0;
    color: #88D000;
}
header .text .arrow .left, header .text .arrow .right {
    height: 3px;
    width: 100px;
}
header .text .arrow .left {
    left: -4%;
}
header .text .arrow .right {
    right: -4%;
}
header .text .arrow .left:after, header .text .arrow .right:after {
    content: '';
    border: 10px solid transparent;
    border-left-color: #fff;
    top: -8px;
}
header .text .arrow .right:after {
    right: 0;
    border-color: transparent #fff transparent transparent;
}
header .text .arrow .fa-asterisk {
    vertical-align: super;
}
header .text span {
    font-family: "Source Code Pro", sans-serif;
    font-size: 15px;
    margin-bottom: 12px;
    color: #88D000;
}
header .text .button button, .contact form button {
    border: none;
    padding: 9px 18px;
    letter-spacing: 2.4px;
    font-size: 12px;
    font-family: source_sans_problack, sans-serif;
    border-radius: 3px;
}
header .text .button button, .contact form button:focus {
    outline: none;
}
header .svg-down {
    bottom: 0;
    left: 50%;
    /* z-index: 5; */
    margin-left: -96px;
    margin-bottom: -12px;
    color: #fff;
}
header .arrow-down {
    width: 70px;
    height: 50px;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 0);
    /* z-index: 10; */
    background: url("https://res.cloudinary.com/abdel-rahman-ali/image/upload/v1535988515/arrow-down.png") no-repeat center;
}
/*End Header*/

/*Start About-Us*/
.about-us, .reservation {
    padding: 60px;
}
.about-us .text, .reservation .text {
    flex: 50%;
    padding: 40px 52px 0 0;
}
.about-us .text h3, .reservation .text h3 {
    color: #000;
}
.about-us .text .fa-asterisk, .reservation .text .fa-asterisk {
    color: #9a9998;
}
.about-us .image-container, .reservation .image-container {
    flex: 50%;
}
.about-us .image, .reservation .image {
    margin-left: 20px;
}
/*End About-Us*/

/* Start Applications */
.applications {
    padding: 60px;
    text-align: center;
}

.applications .heading-text h3{
    color: #000;
}

.applications .heading-text .fa-asterisk{
    color: #9a9998;
}

.applications .row .col {
    text-align: center;
    justify-content: center;
    /* margin:20px; */
} 

.applications .row .col .card{
    border: none;
    box-shadow: 3px 3px 8px rgb(168, 168, 168);
    transition: transform 200ms;
    cursor: pointer;
}

.applications .row .col .card:hover {
    transform: translateY(-20px);
  }
.applications .row .col .card:hover ~ .card {
    transform: translateX(3rem);
  }

/* End Applications */

/*Start Recipes*/
.recipes .image {
    height: 350px;
    background: url("../imgs/bottles.jpg") fixed center;
    background-size: cover;
}
/* End Srart Recipes */


/*Start Menu*/
.menu {
    padding: 60px;
}
.menu .box-model {
    display: none;
    position: fixed;
    height: 100%;
    top: 0;
    z-index: 20;
    background-color: rgba(0,0,0,.7);
}
.menu .box-model.active {
    display: block;
}
.menu .box-model.active body {
    overflow: hidden;
}
.menu .box-model .close {
    color: #ccc;
    right: 25px;
    top: 10px;
    z-index: 20;
}
.menu .box-model .arrow .arrow-right,.menu .box-model .arrow .arrow-left {
    width: 40px;
    height: 40px;
    right: 20px;
    top: 50%;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    transform: rotate(45deg);
    z-index: 20;
}
.menu .box-model .arrow .arrow-left {
    left: 20px;
    transform: rotate(-135deg);
}
.menu .box-image-container {
    height: 100%;
}
.menu .box-image-container .box-image img.active {
    animation: scale .5s;
}
@keyframes scale {
    from {transform: scale(0,0)}
    to {transform: scale(1,1)}
}
.menu .menu-image-container {
    flex-wrap: wrap;
    flex: 60%;
}
.menu .menu-image-container .image {
    margin: 0 20px 20px 0;
    flex: calc( 50% - 40px);
}

.menu .text {
    flex: 55%;
    padding: 40px 0 0 62px;
}
.menu .text h3 {
    color: #000;;
}
.menu .text .fa-asterisk {
    color: #9a9998;
}
/*End Menu*/

/* Cards section */
.card-section {
    margin: 0;
    padding: 60px;
    height: 100%;
    display: flex;
    place-items: center;
    background: url("../imgs/16.jpg") fixed center;
    background-size: contain;
    overflow: hidden;
  }
  
  .card-section .cards {
    display: flex;
    /* display: grid; */
  }
  
  .card-section .cards .card {
    background-color: transparent;
    border: none;
    padding: 0;
    border-radius: 20px !important;
    /* box-shadow: 3px 3px 8px rgb(249, 89, 89); */
    transition: transform 200ms;
    cursor: pointer;
  }

  .card-section .cards .card img{
    height: 25rem;
    object-fit: cover;
    max-width: 100%;
    border-radius: 20px;
  }

 .card-section .cards:not(:first-child) {
    margin-left: -4rem;
 }

 .card-section .cards .card:hover {
    transform: translateY(-20px);
  }
  .card-section .cards .card:hover ~ .card {
    transform: translateX(3rem);
  }
/* End Cards Section */

/*Start Menu2*/
.menu2 {
    padding: 60px;
    display: flex;
}
.menu2 .box-model {
    display: none;
    position: fixed;
    height: 100%;
    top: 0;
    z-index: 20;
    background-color: rgba(0,0,0,.7);
}
.menu2 .box-model.active {
    display: block;
}
.menu2 .box-model.active body {
    overflow: hidden;
}
.menu2 .box-model .close {
    color: #ccc;
    right: 25px;
    top: 10px;
    z-index: 20;
}
.menu2 .box-model .arrow .arrow-right,.menu .box-model .arrow .arrow-left {
    width: 40px;
    height: 40px;
    right: 20px;
    top: 50%;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    transform: rotate(45deg);
    z-index: 20;
}
.menu2 .box-model .arrow .arrow-left {
    left: 20px;
    transform: rotate(-135deg);
}
.menu2 .box-image-container {
    height: 100%;
}
.menu2 .box-image-container .box-image img.active {
    animation: scale .5s;
}
@keyframes scale {
    from {transform: scale(0,0)}
    to {transform: scale(1,1)}
}
.menu2 .menu-image-container {
    flex-wrap: wrap;
    flex: 60%;
    display: flex;
}
.menu2 .menu-image-container .image {
    margin: 20px 0px 0px 20px;
    flex: calc( 50% - 40px);
}

.menu2 .menu-image-container .image img{
    cursor: pointer;
}

.menu2 .text {
    flex: 55%;
    padding: 40px 62px 0px 0px;
    text-align: center;
}
.menu2 .text h3 {
    color: #000;;
}
.menu2 .text .fa-asterisk {
    color: #9a9998;
}
/*End Menu2*/

/*Start fixed-image*/
.fixed-image {
    background: url("../imgs/juice-min.jpg") fixed left;
    background-size: cover;
    height: 400px;
    width: 100%;
}
/*End fixed-image*/

/*Start Footer*/
footer {
    background-color: #121212;
    padding: 60px 20px;
}
footer .text {
    max-width: 500px;
    margin: auto;
}
footer .text h2 {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 19px !important;
    letter-spacing: 1.9px !important;
    margin-bottom: 25px !important;
}
footer .text .fa-asterisk {
    font-size: 12px;
}
footer .text p {
    line-height: 27px !important;
}
footer .contact-container {
    padding: 40px 0;
    max-width: 1000px;
    margin: auto;
}
footer .contact-container > div {
    flex: 1;
}
footer .contact-container h3 {
    font-size: 19px !important;
    letter-spacing: 1.9px !important;
}
footer .social-media .links a {
    margin: 0 10px !important;
    font-size: 25px !important;
}
footer .newsletter input {
    padding: 10px;
    width: 270px;
    background-color: #eee;
    border: none;
    margin-left: -15px;
}
footer .newsletter i {
    margin-left: -40px !important;
    vertical-align: middle !important;
    font-size: 21px !important;
}
.copyright {
    padding: 15px 40px 30px;
    background-color: #262526;
}
.copyright .svg-up {
    top: 0;
    left: 50%;
    margin-left: -96px;
    margin-top: -50px;
}
.copyright .arrow-up {
    width: 40px;
    height: 30px;
    top: -45px;
    color: #fff;
    line-height: 1.9
}
.copyright ul {
    justify-content: center !important;
}
.copyright li {
    color: #919191 !important;
    font-size: 14px !important;
}
.copyright li:not(:last-of-type):after {
    content: '•';
    margin: 10px;
}
.copyright .CTA {
    margin-top: 25px !important;
}
.copyright .CTA li a {
    color: #919191 !important;
}

/*End Footer*/


/* Categories */
.categories {
    text-align: center;
    width: 90%;
    margin: 7rem auto;
}
.categories .row .col{
    padding:50px;
}

.categories .row .col a{
    text-transform: uppercase;
    padding: 30px;
    width: 100%;
    height: 100%;
    box-shadow: 3px 3px 8px rgb(168 168 168);
    transition: transform 200ms;
    /* background:rgb(255, 173, 66); */
}
.categories .row .col a:hover {
    transform: translateY(-20px);
  }
  .categories .row .col a:hover ~ a {
    transform: translateX(3rem);
  }

.categories .heading-text h3{
    color: #000;
}

.overlay{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup{
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    height: 80%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    color: #FF0000;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 2rem !important;
    text-align: center;
  }

  .popup .content h3{
    color: #333;
    text-align: center;
    font-size: 1.5rem !important;
  }
  
  .popup .close{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    transition: all 200ms;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  
  .popup .close:hover {
    color: #06D85F;
  }
  
  .popup .content {
    font-size: var(--base-font-size);
    color: var(--black-shade-2);
    line-height: 1.8;
    font-weight: 400;
    max-height: 80%;
    overflow: auto;
    padding: 50px;
    margin: 20px auto;
  }
/* End Categories */
/*Start Home Page Responsive*/

@media (max-width: 1200px) {
    .menu, .menu2 .about-us, .reservation {
        padding: 60px 40px;
    }
    .about-us .text, .reservation .text {
        padding: 0 32px 0 0;
    }
    .about-us .image-container, .reservation .image-container {
        align-items: center;
    }
    .menu .text {
        padding: 0 0 0 32px;
    }
    .menu2 .text {
        padding: 0 0 0 32px;
    }
}

@media (max-width: 992px) {
    body {
        padding: 0;
    }
    .dots {
        display: none;
    }
    header {
        height: calc(100vh - 10px);
    }
    header nav .logo {
        padding-left: 0;
    }
    .about-us {
        display: block;
        padding-top: 50px;
    }
    .about-us .text , .reservation .text {
        padding: 0 0 40px;
    }
    .about-us .image-container .image1, .reservation .image-container .image1 {
        margin-left: 0;
    }
    .menu {
        display: block;
        padding: 60px 20px 60px 40px;
    }
    .menu .text {
        padding: 20px 20px 0 0;
    }
    .menu2 {
        display: block;
        padding: 60px 20px 60px 40px;
    }
    .menu2 .text {
        padding: 20px 20px 0 0;
    }
    .reservation {
        display: block;
        padding: 30px 20px 60px;
    }
    .contact {
        display: block;
        padding: 78px 20px;
    }
    .contact .form {
        margin-left: 0;
        margin-top: 40px;
    }
}

@media (max-width: 768px) {
    header nav {
        display: block;
        text-align: center;
        left: 0;
        top: 0;
        width: 100%;
        padding-top: 25px;
    }
    header nav .toggle {
        display: block;
    }
    header .navigation-bar {
        position: fixed;
        top: 0;
        left: -174px;
        height: 100%;
        background-color: #262526;
        overflow: hidden;
        z-index: 20;
        padding: 40px;
    }
    header .navigation-bar ul {
        display: block;
        padding-top: 40px;
    }
    header .navigation-bar ul li {
        text-align: left;
        padding: 14px 0;
    }
    footer .contact-container {
        display: block;
    }
    footer .social-media {
        margin-bottom: 40px;
    }
    .copyright ul {
        display: block;
        margin-top: -20px;
    }
    .copyright li {
        margin-bottom: 5px;
    }
    .copyright li:not(:last-of-type):after {
        content: '';
    }

}

@media (max-width: 576px) {
    h3, h1 {
        font-size: 40px;
    }
    h2 {
        font-size:90px
    }
    header {
        padding: 0;
    }
    header nav .logo {
        padding-left: 0;
    }
    header nav .toggle.active {
        left: 36%;
    }
    header .navigation-bar.show {
        padding: 20px;
        width: 48%;
    }
    .about-us, .reservation {
        padding: 60px 20px;
    }
    .menu {
        padding: 60px 0 60px 20px;
    }
    .menu2 {
        padding: 60px 0 60px 20px;
    }
}
/*End Home Page Responsive*/